*/.ipynb_checkpoints
/.ipynb_checkpoints
*.csv
./Udacity/To Share
*./Udacity/To Share
/Udacity/To Share/
/Udacity/To Share/Project 2/
/Udacity/2. Basic Algorithms/1. Basic Algorithms/Videos
/Udacity/2. Basic Algorithms/2. Sorting Algorithms/Videos
/Udacity/2. Basic Algorithms/3. Faster Divide and Conquer Algorithms